server {
    listen 80;
    server_name 84.201.161.194 ;

    location / {
        root {{ lighthouse_extract_path }}/lighthouse-master;
        index index.html;
        
        try_files $uri $uri/ =404;
    }
}
